/*.one{
  color:red;
  text-align:center;
 
}

.two{
  color:rgb(38, 0, 255);
  text-align:center;
 
}

.three{
  color:rgb(4, 88, 39);
  text-align:center;
 
}*/

.design{
  color:rgb(4, 88, 39);
  text-align:center;
}
.next{
  color:rgb(88, 4, 63);
  text-align:center;
}

.nested{
  color:rgb(24, 236, 70);
  text-align:center;
}